<%= stylesheet_link_tag 'home' %>
<main class="container mt-5">
  <h1 class="text">Welcome to <%= current_user.username %>!</h1>

  <div class="my-4">
    <%= button_to "Fetch data...", fetch_path, method: :get, class: "btn btn-primary" %>
  </div>

  <%# Logout %>
  <div>
    <%= link_to "Logout", logout_path, class: "btn btn-secondary" %>
  </div>
</main>

