<% if @data.present? %>

  <%# Display fetched data in a table %>
  <table>
    <thead>
      <tr>
        <th>Fact</th>
        <th>Verified</th>
        <th>Created On</th>
      </tr>
    </thead>
    <tbody>
      <% @data.each do |fact| %>
        <tr>
          <td><%= fact['text'] %></td>
          <td><%= fact['status']['verified'] ? 'True' : 'False' %></td>
          <td><%= Time.parse(fact['createdAt']).strftime('%d-%m-%Y %H:%M:%S') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
    <p>No data to display</p>
<% end %>
